# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule (.+)/(.+)/(.+)$ index.php?lang=$1&page=$2&id=$3 [L,NC]

